* {
    box-sizing: border-box;
    box-sizing: content-box;
    margin: 0px;
}



.section {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #054c76, #0c192a, #471c3a);



}

.section-conatiner__list {
    display: flex;
    justify-content: space-between;

    border-radius: 25px;
    margin-right: 50px;
    margin-bottom: 60px;
    color: aliceblue;

}

.container-list {
    display: flex;
}

.container-logo {
    margin-top: 25px;
    font-size: 50px;
    margin-left: 50px;
    cursor: pointer;
}

.header-list {
    margin-top: 25px;
    margin-right: 25px;
    font-size: 25px;
    cursor: pointer;
}

hr {
    background-color: rgb(179, 255, 0);
    height: 1px;
    border: none;
}


.section-container__user {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 1200px;
    max-height: 1200px;

    margin-left: 50px;
    margin-right: 50px;
    border-radius: 100px;
    margin-bottom: 15px;
}

.container-user__profile {
    margin-right: 100px;
    width: 30%;
    height: 800px;
    background-color: rgba(99, 77, 124, 0.5);
    border-radius: 70px;
    box-shadow: 2px 1px 8px 11px rgba(82, 173, 243, 0.685);
}

h1 {
    margin-top: 25px;
    margin-left: 25px;
    color: aliceblue;
    margin-bottom: 25px;
}

.text-teg {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.user-profile__block-tegs {
    display: flex;
    max-width: 100%;
    height: 200px;
    justify-content: space-between;
    margin-bottom: 25px;

}

.container__block-tegs {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 200px;
    margin-right: 7px;


}

.block-tegs {
    display: flex;
    width: 100%;
    margin-right: 7px;
    height: 200px;
    flex-wrap: wrap;
    align-items: center;

}

.container__block-tegs:last-child {
    margin: 0px;
}

.lab {
    background-color: blue;
}

.sem {
    background-color: chartreuse;
}

.home-work {
    background-color: chocolate;
}

.grand-work {
    background-color: crimson;
}

.helper {
    background-color: cyan;
}

.form-profile {
    margin-bottom: 20px;

}

.div__form-profile {
    margin-left: 120px;
    display: flex;
    width: 100%;
}

.form-profile__text {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-top: 5px;
    margin-right: 10px;


}

label {
    color: aliceblue;
    font-size: 30px;

}

input {
    border: none;
    outline: none;

    /* Убираем фоновые цвета */
    background: transparent;
    background-color: transparent;

    /* Убираем тени */
    box-shadow: none;

    /* Убираем стандартные отступы */
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-size: 20px;
    width: 450px;
}

img {
    width: 25px;
    height: 20px;
    margin-right: 5px;
}

i {
    font-size: 40px;

}

.container__cases-comment {
    width: 50%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.block__comment-cases {

    width: 100%;
    height: 600px;
    background-color: rgba(46, 70, 88, 0.103);

    margin-bottom: 100px;
    border-radius: 70px;
    box-shadow: 2px 1px 8px 11px rgba(82, 173, 243, 0.685);
}

.block__comment-cases:last-child {
    margin-bottom: 0px;
}

.cases {
    color: rgba(246, 245, 247, 0.979);
}

.comment {
    color: rgba(23, 238, 238, 0.842);
}

.block-text1 {
    margin-top: 25px;
    margin-left: 25px;
}

.text-cases {
    border-radius: 25px;
    background-color: rgb(27, 245, 245);
    font-size: 25px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 1px 8px 7px rgb(27, 245, 245);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    color: #f8f8f8;
    font-size: 32px;

}

.text-comment {
    border-radius: 25px;
    background-color: rgb(207, 102, 255);
    font-size: 25px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 1px 8px 7px rgb(207, 102, 255);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    color: #f8f8f8;
    font-size: 32px;
}

.colorbox {
    background-color: chocolate;
}

.choice-tegs {
    display: flex;
}