<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/lenta.css">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="background">
    <div class="section-conatiner__list">
      <div class="container-logo">
        <h4>ne-otchislyat.ru</h4>
        <button id="filter-open" class="filter-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#79b5b9">
            <path d="M80-200v-80h400v80H80Zm0-200v-80h200v80H80Zm0-200v-80h200v80H80Zm744 400L670-354q-24 17-52.5 25.5T560-320q-83 0-141.5-58.5T360-520q0-83 58.5-141.5T560-720q83 0 141.5 58.5T760-520q0 29-8.5 57.5T726-410l154 154-56 56ZM560-400q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Z" />
          </svg>
        </button>
      </div>
      <div class="container-list">
        <div id="header-list-prof" class="header-list">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#79b5b9">
            <path d="M367-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q560-607 560-640t-23.5-56.5Q513-720 480-720t-56.5 23.5Q400-673 400-640t23.5 56.5Q447-560 480-560t56.5-23.5ZM480-640Zm0 400Z" />
          </svg>
          <span>Профиль</span>
          <hr class="head-br">
        </div>
        <div id="header-list-reg" class="header-list">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#79b5b9">
            <path d="M269-120q-30 0-52-20t-27-49l-70-491h120v-80q0-33 23.5-56.5T320-840h320q33 0 56.5 23.5T720-760v80h120l-70 491q-5 29-27.5 49T690-120H269Zm-57-480 57 400h422l57-400H212Zm226 320 198-198-57-56-141 141-57-57-57 57 114 113ZM320-680h320v-80H320v80Zm160 280Z" />
          </svg>
          <span>Заказы</span>
          <hr class="head-br">
        </div>
        <div id="header-list-reg" class="header-list">

          <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.7692 6.70483C9.53846 2.01902 4 3.90245 4 8.68256C4 13.4627 13.2308 20 13.2308 20C13.2308 20 22 13.2003 22 8.68256C22 4.16479 16.9231 2.01903 13.6923 6.70483L13.2308 7.0791L12.7692 6.70483Z" fill="#3071E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <span>Избранное</span>
          <hr class="head-br">
        </div>
        <div id="header-list-reg" class="header-list">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#79b5b9">
            <path d="M240-80q-33 0-56.5-23.5T160-160v-480q0-33 23.5-56.5T240-720h80q0-66 47-113t113-47q66 0 113 47t47 113h80q33 0 56.5 23.5T800-640v480q0 33-23.5 56.5T720-80H240Zm0-80h480v-480h-80v80q0 17-11.5 28.5T600-520q-17 0-28.5-11.5T560-560v-80H400v80q0 17-11.5 28.5T360-520q-17 0-28.5-11.5T320-560v-80h-80v480Zm160-560h160q0-33-23.5-56.5T480-800q-33 0-56.5 23.5T400-720ZM240-160v-480 480Z" />
          </svg>
          <span>Корзина</span>
          <hr class="head-br">
        </div>
      </div>
    </div>
    <div class="main-menu">
      <div id="modalOverlay" class="modal-overlay invisible">
        <div class="make-cards">
          <div class="head-craete-cards">
            <h2 class="head-text-cards">Фильтер</h2>
            <div class="btnX" id="closeModal">&times;</div>

          </div>

          <form class="form-newtask">
            <div class="form-content">

              <div class="choice-tegs">

                <div class="tegs-container">
                  <!-- Теги теперь будут списком -->
                  <label class="teg-item">
                    <input type="radio" name="tegs" value="math" class="teg-input">
                    <span class="teg-button">Математика</span>
                  </label>
                  <label class="teg-item">
                    <input type="radio" name="tegs" value="physics" class="teg-input">
                    <span class="teg-button">Термех</span>
                  </label>
                  <label class="teg-item">
                    <input type="radio" name="tegs" value="информатика" class="teg-input">
                    <span class="teg-button">Информатика</span>
                  </label>
                  <label class="teg-item">
                    <input type="radio" name="tegs" value="русский" class="teg-input">
                    <span class="teg-button">Русский</span>
                  </label>
                  <label class="teg-item">
                    <input type="radio" name="tegs" value="начерт" class="teg-input">
                    <span class="teg-button">Начерт</span>
                  </label>
                  <label class="teg-item">
                    <input type="radio" name="tegs" value="английский" class="teg-input">
                    <span class="teg-button">Английский</span>
                  </label>
                  <!-- и так далее -->
                </div>
              </div>
            </div>
            <div class="btn-div">
              <button type="submit" class="new-task">Выбрать</button>
            </div>
          </form>
        </div>
      </div>
      <div class="search-container">
        <div class="text-block">

          <div class="box-order">
            <div class="text">
              <div class="head-cards">
                <h4 class="text-color1">Лаба за 1 день
                                </h4>
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#c3c7d3">
                  <path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
                </svg>

              </div>
              <p class="discription">Стильные наручные часы с классическим циферблатом. Водозащита 3 АТМ, кварцевый механизм, кожаный ремешок. Идеально подходят для повседневного образа и деловых встреч
                <div class="block-inf">
                  <div class="p-icons">
                    <div class="lxl-text">
                      <div class="name-block-br">
                        <p>Алексей
                          <hr class="name-line">
                        </p>
                      </div>

                    </div>
                    <p class="lxl-text">4.9
                      <svg xmlns="http://www.w3.org/2000/svg" height="27px" viewBox="0 -960 960 960" width="27px" fill="#fffa86">
                        <path d="m305-704 112-145q12-16 28.5-23.5T480-880q18 0 34.5 7.5T543-849l112 145 170 57q26 8 41 29.5t15 47.5q0 12-3.5 24T866-523L756-367l4 164q1 35-23 59t-56 24q-2 0-22-3l-179-50-179 50q-5 2-11 2.5t-11 .5q-32 0-56-24t-23-59l4-165L95-523q-8-11-11.5-23T80-570q0-25 14.5-46.5T135-647l170-57Zm49 69-194 64 124 179-4 191 200-55 200 56-4-192 124-177-194-66-126-165-126 165Zm126 135Z" />
                      </svg>
                    </p>
                    <p class="lxl-text">435
                      <svg xmlns="http://www.w3.org/2000/svg" height="27px" viewBox="0 -960 960 960" width="27px" fill="#c3c7d3">
                        <path d="M269-120q-30 0-52-20t-27-49l-70-491h120v-80q0-33 23.5-56.5T320-840h320q33 0 56.5 23.5T720-760v80h120l-70 491q-5 29-27.5 49T690-120H269Zm-57-480 57 400h422l57-400H212Zm226 320 198-198-57-56-141 141-57-57-57 57 114 113ZM320-680h320v-80H320v80Zm160 280Z" />
                      </svg>
                    </p>
                  </div>

                  <button class="p-name">
                    <h5>850 ₽
                                    </h5>

                  </button>

                </div>

            </div>
          </div>

          <div class="box-order">
            <div class="text">
              <div class="head-cards">
                <h4 class="text-color1">Лаба за 1 день
                                </h4>
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#c3c7d3">
                  <path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
                </svg>

              </div>
              <p class="discription">Стильные наручные часы с классическим циферблатом. Водозащита 3 АТМ, кварцевый механизм, кожаный ремешок. Идеально подходят для повседневного образа и деловых встреч
                <div class="block-inf">
                  <div class="p-icons">
                    <div class="lxl-text">
                      <div class="name-block-br">
                        <p>Алексей
                          <hr class="name-line">
                        </p>
                      </div>
                      
                    </div>
                    <p class="lxl-text">4.9
          <svg aria-hidden="true" height="27" viewBox="0 0 16 16" version="1.1" width="27" fill="#fffa20">
    <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Z"></path>
</svg>
                    </p>
                    <p class="lxl-text">435
                      <svg xmlns="http://www.w3.org/2000/svg" height="27px" viewBox="0 -960 960 960" width="27px" fill="#c3c7d3">
                        <path d="M269-120q-30 0-52-20t-27-49l-70-491h120v-80q0-33 23.5-56.5T320-840h320q33 0 56.5 23.5T720-760v80h120l-70 491q-5 29-27.5 49T690-120H269Zm-57-480 57 400h422l57-400H212Zm226 320 198-198-57-56-141 141-57-57-57 57 114 113ZM320-680h320v-80H320v80Zm160 280Z" />
                      </svg>
                    </p>
                  </div>

                  <button class="p-name">
                    <h5>850 ₽
                                    </h5>

                  </button>

                </div>

            </div>
          </div>

        </div>
        <div class="load-more-container">
          <button class="btn-load-more">Загрузить еще</button>
        </div>

      </div>

    </div>

  </div>
  <script>
    const filterBtn = document.getElementById('filter-open');
    const overlay = document.getElementById('modalOverlay');
    const closeBtn = document.getElementById('closeModal');
    // Открыть
    filterBtn.onclick = () => overlay.classList.add('active');
    // Закрыть по крестику
    closeBtn.onclick = () => overlay.classList.remove('active');
    // Закрыть при клике на ТЕМНУЮ ОБЛАСТЬ (вне панели)
    overlay.onclick = (e) => {
      // Если кликнули именно по overlay, а не по его дочерним элементам
      if (e.target === overlay) {
        overlay.classList.remove('active');
      }
    };
    // Остальной ваш код
    let clickCount = 1;
    const textBlock = document.querySelector('.text-block');
    const taskItems = document.querySelectorAll('.text2');
    const formTeg = document.querySelector('.form-teg');
    const btnScroll = document.querySelector('.btn-load-more');

    function sendRequest(isReset) {
      if (isReset) {
        clickCount = 1;
        textBlock.innerHTML = "";
      }
      const selectedTags = [];
      taskItems.forEach((item) => {
        const checkbox = item.querySelector('input[type="checkbox"]');
        const label = item.querySelector('label');
        if (checkbox && checkbox.checked) {
          selectedTags.push(label.textContent.trim());
        }
      });
      const taskData = {
        page: clickCount,
        tagFilters: selectedTags,
        itemType: "zakazs",
        priceUpDownFalse: ""
      };
      fetch('http://localhost:8080/api/lenta', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(taskData)
        })
        .then(response => response.json())
        .then(json => {
          if (json.length === 0 && clickCount === 1) {
            textBlock.innerHTML = '<p>Ничего не найдено</p>';
          } else {
            textBlock.innerHTML += json.map(({
              label,
              discription,
              avtor,
              price
            }) => `
                <div class="box-order">
                    <div class="text">
                        <div class="head-cards">
                            <h4 class="text-color1">${label}
                            </h4>
                            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960"
                                width="40px" fill="#c3c7d3">
                                <path
                                    d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
                            </svg>
                        </div>
                        <p class="discription">${discription}
                        <div class="block-inf">
                            <div class="p-icons">
                                <div class="lxl-text">
                                    <div class="name-block-br">
                                        <p>${avtor}
                                            <hr class="name-line">
                                        </p>
                                    </div>
                                </div>
                                <p class="lxl-text">4.9 <svg xmlns="http://www.w3.org/2000/svg" height="27px"
                                        viewBox="0 -960 960 960" width="27px" fill="#fffa86">
                                        <path
                                            d="m305-704 112-145q12-16 28.5-23.5T480-880q18 0 34.5 7.5T543-849l112 145 170 57q26 8 41 29.5t15 47.5q0 12-3.5 24T866-523L756-367l4 164q1 35-23 59t-56 24q-2 0-22-3l-179-50-179 50q-5 2-11 2.5t-11 .5q-32 0-56-24t-23-59l4-165L95-523q-8-11-11.5-23T80-570q0-25 14.5-46.5T135-647l170-57Zm49 69-194 64 124 179-4 191 200-55 200 56-4-192 124-177-194-66-126-165-126 165Zm126 135Z" />
                                    </svg></p>
                                <p class="lxl-text">435 <svg xmlns="http://www.w3.org/2000/svg" height="27px"
                                        viewBox="0 -960 960 960" width="27px" fill="#c3c7d3">
                                        <path
                                            d="M269-120q-30 0-52-20t-27-49l-70-491h120v-80q0-33 23.5-56.5T320-840h320q33 0 56.5 23.5T720-760v80h120l-70 491q-5 29-27.5 49T690-120H269Zm-57-480 57 400h422l57-400H212Zm226 320 198-198-57-56-141 141-57-57-57 57 114 113ZM320-680h320v-80H320v80Zm160 280Z" />
                                    </svg></p>
                            </div>
                            <button class="p-name">
                                <h5>${price}</h5>
                            </button>
                        </div>
                    </div>
                </div>
                `).join('');
          }
        })
        .catch(err => console.error('Ошибка:', err));
    }
    // Загрузка при открытии страницы
    sendRequest(true);
    // Кнопка "Сохранить" (сброс и загрузка с новыми тегами)
    if (formTeg) {
      formTeg.addEventListener('submit', (e) => {
        e.preventDefault();
        sendRequest(true);
      });
    }
    // Кнопка "Загрузить еще"
    if (btnScroll) {
      btnScroll.addEventListener('click', () => {
        clickCount++;
        sendRequest(false);
      });
    }
    const BtnReg = document.querySelector('#header-list-reg');
    if (BtnReg) {
      BtnReg.addEventListener('click', (e) => {
        e.preventDefault();
        location.assign("/registration");
      });
    }
    const textBtnProf = document.querySelector('#header-list-prof');
    const textBtnProf = document.querySelector('#header-list-prof');
  
    if (textBtnProf) {
      textBtnProf.addEventListener('click', (e) => {
        e.preventDefault();
        window.location.href = '/profile';
    });
}
  </script>
</body>

</html>