<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/lenta.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="background">
        <div class="section-conatiner__list">
            <div class="container-logo">
                <h4>ne-otchislyat.ru</h4>
            </div>
            <div class="container-list">
                <div class="header-list">
                    <span>На главную</span>
                    <hr class="head-br">
                </div>
                <div class="header-list">
                    <span>Выход</span>
                    <hr>
                </div>
            </div>
        </div>
        <div class="sticky-circles">
            <div class="circle"></div>
            <div class="circle1"></div>
        </div>
        <div class="main-menu">
            <div class="ost">ergreger</div>
            <div class="search-container">
                <div class="text-block">
                    <div class="box-order">
                        <div class="container__color-price">
                            <div class="box-color"></div>
                            <div class="box-price">
                                <p class="p-price">1253 <img
                                        src="/src/img/currency_ruble_24dp_FDA909_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                                </p>
                            </div>
                        </div>
                        <div class="text">
                            <h1>Биология <img class="heart"
                                    src="/src/img/favorite_24dp_F089C5_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                            </h1>
                            <p class="discription">Стильные наручные часы с классическим циферблатом. Водозащита 3 АТМ,
                                кварцевый механизм,
                                кожаный ремешок. Идеально
                                подходят для повседневного образа и деловых встреч
                            <div class="block-inf">
                                <div class="p-icons">
                                    <img class="pro-file" src="img/chat_24dp_0981E9_FILL0_wght400_GRAD0_opsz24.svg"
                                        alt="">
                                    <img class="pro-file"
                                        src="img/account_circle_24dp_0981E9_FILL0_wght400_GRAD0_opsz24.svg" alt="">

                                </div>
                                <div class="p-name">
                                    <h2>Алексей</h2>
                                    <p class="prefecs">isCompany</p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="box-order">
                        <div class="text">
                            <div class="head-cards">
                                <h4 class="text-color1">Лаба за 1 день
                                </h4>
                                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960"
                                    width="40px" fill="#c3c7d3">
                                    <path
                                        d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
                                </svg>

                            </div>
                            <p class="discription">Стильные наручные часы с классическим циферблатом. Водозащита 3 АТМ,
                                кварцевый механизм,
                                кожаный ремешок. Идеально
                                подходят для повседневного образа и деловых встреч
                            <div class="block-inf">
                                <div class="p-icons">
                                    <div class="lxl-text">
                                        <div class="name-block-br">
                                            <p>Алексей
                                                <hr class="name-line">
                                            </p>
                                        </div>

                                    </div>
                                    <p class="lxl-text">4.9 <svg xmlns="http://www.w3.org/2000/svg" height="27px"
                                            viewBox="0 -960 960 960" width="27px" fill="#fffa86">
                                            <path
                                                d="m305-704 112-145q12-16 28.5-23.5T480-880q18 0 34.5 7.5T543-849l112 145 170 57q26 8 41 29.5t15 47.5q0 12-3.5 24T866-523L756-367l4 164q1 35-23 59t-56 24q-2 0-22-3l-179-50-179 50q-5 2-11 2.5t-11 .5q-32 0-56-24t-23-59l4-165L95-523q-8-11-11.5-23T80-570q0-25 14.5-46.5T135-647l170-57Zm49 69-194 64 124 179-4 191 200-55 200 56-4-192 124-177-194-66-126-165-126 165Zm126 135Z" />
                                        </svg></p>
                                    <p class="lxl-text">435 <svg xmlns="http://www.w3.org/2000/svg" height="27px"
                                            viewBox="0 -960 960 960" width="27px" fill="#c3c7d3">
                                            <path
                                                d="M269-120q-30 0-52-20t-27-49l-70-491h120v-80q0-33 23.5-56.5T320-840h320q33 0 56.5 23.5T720-760v80h120l-70 491q-5 29-27.5 49T690-120H269Zm-57-480 57 400h422l57-400H212Zm226 320 198-198-57-56-141 141-57-57-57 57 114 113ZM320-680h320v-80H320v80Zm160 280Z" />
                                        </svg></p>
                                </div>

                                <button class="p-name">
                                    <h5>850 ₽
                                    </h5>

                                </button>

                            </div>

                        </div>
                    </div>
                    <div class="box-order">
                        <div class="container__color-price">
                            <div class="box-color"></div>
                            <div class="box-price">
                                <p class="p-price">1253 <img
                                        src="/src/img/currency_ruble_24dp_FDA909_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                                </p>
                            </div>
                        </div>
                        <div class="text">
                            <h1>Биология <img class="heart"
                                    src="/src/img/favorite_24dp_F089C5_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                            </h1>
                            <p class="discription">Стильные наручные часы с классическим циферблатом. Водозащита 3 АТМ,
                                кварцевый механизм,
                                кожаный ремешок. Идеально
                                подходят для повседневного образа и деловых встреч
                            <div class="block-inf">
                                <div class="p-icons">
                                    <img class="pro-file" src="img/chat_24dp_0981E9_FILL0_wght400_GRAD0_opsz24.svg"
                                        alt="">
                                    <img class="pro-file"
                                        src="img/account_circle_24dp_0981E9_FILL0_wght400_GRAD0_opsz24.svg" alt="">

                                </div>
                                <div class="p-name">
                                    <h2>Алексей</h2>
                                    <p class="prefecs">isCompany</p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="box-order">
                        <div class="text">
                            <div class="head-cards">
                                <h4 class="text-color1">Лаба за 1 день
                                </h4>
                                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960"
                                    width="40px" fill="#c3c7d3">
                                    <path
                                        d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
                                </svg>

                            </div>
                            <p class="discription">Стильные наручные часы с классическим циферблатом. Водозащита 3 АТМ,
                                кварцевый механизм,
                                кожаный ремешок. Идеально
                                подходят для повседневного образа и деловых встреч
                            <div class="block-inf">
                                <div class="p-icons">
                                    <div class="lxl-text">
                                        <div class="name-block-br">
                                            <p>Алексей
                                                <hr class="name-line">
                                            </p>
                                        </div>

                                    </div>
                                    <p class="lxl-text">4.9 <svg xmlns="http://www.w3.org/2000/svg" height="27px"
                                            viewBox="0 -960 960 960" width="27px" fill="#fffa86">
                                            <path
                                                d="m305-704 112-145q12-16 28.5-23.5T480-880q18 0 34.5 7.5T543-849l112 145 170 57q26 8 41 29.5t15 47.5q0 12-3.5 24T866-523L756-367l4 164q1 35-23 59t-56 24q-2 0-22-3l-179-50-179 50q-5 2-11 2.5t-11 .5q-32 0-56-24t-23-59l4-165L95-523q-8-11-11.5-23T80-570q0-25 14.5-46.5T135-647l170-57Zm49 69-194 64 124 179-4 191 200-55 200 56-4-192 124-177-194-66-126-165-126 165Zm126 135Z" />
                                        </svg></p>
                                    <p class="lxl-text">435 <svg xmlns="http://www.w3.org/2000/svg" height="27px"
                                            viewBox="0 -960 960 960" width="27px" fill="#c3c7d3">
                                            <path
                                                d="M269-120q-30 0-52-20t-27-49l-70-491h120v-80q0-33 23.5-56.5T320-840h320q33 0 56.5 23.5T720-760v80h120l-70 491q-5 29-27.5 49T690-120H269Zm-57-480 57 400h422l57-400H212Zm226 320 198-198-57-56-141 141-57-57-57 57 114 113ZM320-680h320v-80H320v80Zm160 280Z" />
                                        </svg></p>
                                </div>

                                <button class="p-name">
                                    <h5>850 ₽
                                    </h5>

                                </button>

                            </div>

                        </div>
                    </div>

                    <div class="box-order">
                        <div class="container__color-price">
                            <div class="box-color2"></div>
                            <div class="box-price">
                                <h2 class="p-price">1253 <img
                                        src="/src/img/currency_ruble_24dp_FDA909_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                                </h2>
                            </div>
                        </div>
                        <div class="text">
                            <h1 class="text-color2">Литература <img class="heart"
                                    src="/src/img/favorite_24dp_F089C5_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                            </h1>
                            <p class="discription">Стильные наручные часы с классическим циферблатом. Водозащита 3 АТМ,
                                кварцевый механизм,
                                кожаный ремешок. Идеально
                                подходят для повседневного образа и деловых встреч
                            <div class="block-inf">
                                <div class="p-icons">
                                    <img class="pro-file" src="img/chat_24dp_0981E9_FILL0_wght400_GRAD0_opsz24.svg"
                                        alt="">
                                    <img class="pro-file"
                                        src="img/account_circle_24dp_0981E9_FILL0_wght400_GRAD0_opsz24.svg" alt="">

                                </div>
                                <div class="p-name">
                                    <h2>Алексей</h2>
                                    <p class="prefecs">isCompany</p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="box-order">
                        <div class="text">
                            <h1>кукруrthtrhrthrh</h1>
                            <p>ввврвtrhtrhrthrthр</p>
                            <p>namerthtrhrthtrh: </p>
                            <p> рублейrthtrh</p>
                        </div>
                    </div>
                    <div class="box-order">
                        <div class="text">
                            <h1>кукруrthtrhrthrh</h1>
                            <p>ввврвtrhtrhrthrthр</p>
                            <p>namerthtrhrthtrh: </p>
                            <p> рублейrthtrh</p>
                        </div>
                    </div>
                    <div class="box-order">
                        <div class="text">
                            <h1>кукруrthtrhrthrh</h1>
                            <p>ввврвtrhtrhrthrthрgggggggggggggggggggggggggggggggggggggggggggggg</p>
                            <p>namerthtrhrthtrh: </p>
                            <p> рублейrthtrh</p>
                        </div>
                    </div>
                    <div class="box-order">
                        <div class="text">
                            <h1>кукруrthtrhrthrh</h1>
                            <p>ввврвtrhtrhrthrthр</p>
                            <p>namerthtrhrthtrh: </p>
                            <p> рублейrthtrh</p>
                        </div>
                    </div>
                </div>
                <button class="btn-scroll">Загрузить еще</button>
            </div>
            <div class="tegs">
                <form class="form-teg" action="">
                    <div class="text2">
                        <label class="color" for="mat">Математика:</label>
                        <input class="colorbox" id="mat" type="checkbox">
                    </div>
                    <div class="text2">
                        <label class="color" for="angl">Англиский:</label>
                        <input class="colorbox" id="angl" type="checkbox">
                    </div>
                    <div class="text2">
                        <label class="color" for="lab">Лаба:</label>
                        <input class="colorbox" id="lab" type="checkbox">
                    </div>
                    <button type="submit">Сохранить</button>
                </form>
            </div>
        </div>

    </div>
    <script>
        let clickCount = 1;
        const textBlock = document.querySelector('.text-block');
        const taskItems = document.querySelectorAll('.text2');
        const formTeg = document.querySelector('.form-teg');
        const btnScroll = document.querySelector('.btn-scroll');

        function sendRequest(isReset) {
            if (isReset) {
                clickCount = 1;
                textBlock.innerHTML = "";
            }

            const selectedTags = [];
            taskItems.forEach((item) => {
                const checkbox = item.querySelector('input[type="checkbox"]');
                const label = item.querySelector('label');
                if (checkbox && checkbox.checked) {
                    selectedTags.push(label.textContent.trim());
                }
            });

            const taskData = {
                page: clickCount,
                tagFilters: selectedTags,
                itemType: "zakazs",
                priceUpDownFalse: ""
            };

            fetch('http://localhost:8080/api/lenta', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(taskData)
            })
            .then(response => response.json())
            .then(json => {
                if (json.length === 0 && clickCount === 0) {
                    textBlock.innerHTML = '<p>Ничего не найдено</p>';
                } else {
                    textBlock.innerHTML += json.map(({ label, discription, avtor, price }) => `
                    <div class="box-order">
                        <div class="text">
                            <div class="head-cards">
                                <h4 class="text-color1">${label}
                                </h4>
                                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960"
                                    width="40px" fill="#c3c7d3">
                                    <path
                                        d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
                                </svg>

                            </div>
                            <p class="discription">${discription}
                            <div class="block-inf">
                                <div class="p-icons">
                                    <div class="lxl-text">
                                        <div class="name-block-br">
                                            <p>${avtor}
                                                <hr class="name-line">
                                            </p>
                                        </div>

                                    </div>
                                    <p class="lxl-text">4.9 <svg xmlns="http://www.w3.org/2000/svg" height="27px"
                                            viewBox="0 -960 960 960" width="27px" fill="#fffa86">
                                            <path
                                                d="m305-704 112-145q12-16 28.5-23.5T480-880q18 0 34.5 7.5T543-849l112 145 170 57q26 8 41 29.5t15 47.5q0 12-3.5 24T866-523L756-367l4 164q1 35-23 59t-56 24q-2 0-22-3l-179-50-179 50q-5 2-11 2.5t-11 .5q-32 0-56-24t-23-59l4-165L95-523q-8-11-11.5-23T80-570q0-25 14.5-46.5T135-647l170-57Zm49 69-194 64 124 179-4 191 200-55 200 56-4-192 124-177-194-66-126-165-126 165Zm126 135Z" />
                                        </svg></p>
                                    <p class="lxl-text">435 <svg xmlns="http://www.w3.org/2000/svg" height="27px"
                                            viewBox="0 -960 960 960" width="27px" fill="#c3c7d3">
                                            <path
                                                d="M269-120q-30 0-52-20t-27-49l-70-491h120v-80q0-33 23.5-56.5T320-840h320q33 0 56.5 23.5T720-760v80h120l-70 491q-5 29-27.5 49T690-120H269Zm-57-480 57 400h422l57-400H212Zm226 320 198-198-57-56-141 141-57-57-57 57 114 113ZM320-680h320v-80H320v80Zm160 280Z" />
                                        </svg></p>
                                </div>

                                <button class="p-name">
                                    <h5>${price}
                                    </h5>

                                </button>

                            </div>

                        </div>
                    </div>
                    `).join('');
                }
            })
            .catch(err => console.error('Ошибка:', err));
        }

        // Загрузка при открытии страницы
        sendRequest(true);

        // Кнопка "Сохранить" (сброс и загрузка с новыми тегами)
        formTeg.addEventListener('submit', (e) => {
            e.preventDefault();
            sendRequest(true);
        });

        // Кнопка "Загрузить еще"
        btnScroll.addEventListener('click', () => {
            clickCount++;
            sendRequest(false);
        });
    </script>
</body>
</html>