* {
    box-sizing: border-box;
    box-sizing: content-box;
    margin: 0px;
    font-family: sans-serif;
}



.section {
    min-height: 100vh;
    width: 100%;
    background-color: #16162F;


}

.section-conatiner__list {
    display: flex;
    justify-content: space-between;

    border-radius: 25px;
    margin-right: 50px;
    margin-bottom: 60px;
    color: aliceblue;

}

p {
    color: aliceblue;
    font-size: 30px;
}

.container-list {
    display: flex;
}

.container-logo {
    margin-top: 25px;
    font-size: 50px;
    margin-left: 50px;
    cursor: pointer;
}

.header-list {
    margin-top: 25px;
    margin-right: 25px;
    font-size: 25px;
    cursor: pointer;
}

hr {
    background-color: rgb(179, 255, 0);
    height: 1px;
    border: none;
}


.section-container__user {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 1200px;
    max-height: 1200px;

    margin-left: 50px;
    margin-right: 50px;
    border-radius: 100px;
    margin-bottom: 15px;
}

.container-user__profile {
    margin-right: 100px;
    width: 30%;
    height: 800px;
    background-color: #16162F;
    border-radius: 70px;
    box-shadow: 2px 1px 8px 11px rgba(82, 173, 243, 0.685);

}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: aliceblue;
    margin-bottom: 25px;
}


.form-profile {
    margin-bottom: 20px;

}

.form-profile-count {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.div__form-profile {
    margin-left: 120px;
    display: flex;
    width: 100%;
}

.form-profile__text {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-top: 5px;
    margin-right: 10px;


}

label {
    color: aliceblue;
    font-size: 30px;
    margin-right: 20px;

}

input {
    border: none;
    outline: none;

    /* Убираем фоновые цвета */
    background: transparent;
    background-color: transparent;

    /* Убираем тени */
    box-shadow: none;

    /* Убираем стандартные отступы */
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-size: 20px;
    width: 450px;
}

img {
    width: 25px;
    height: 20px;
    margin-right: 5px;
}

i {
    font-size: 40px;

}

.container__cases-comment {
    width: 60%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.block__comment-cases {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: #16162F;

    margin-bottom: 100px;
    border-radius: 70px;
    box-shadow: 2px 1px 8px 11px rgba(82, 173, 243, 0.685);
    overflow: auto;

}

.block__comment-cases {
    /* ... ваши стили ... */
    scrollbar-width: thin;
    scrollbar-color: rgba(130, 180, 240, 0.5) rgba(50, 50, 80, 0.3);
}



.block__comment-cases:last-child {
    margin-bottom: 0px;
}

.cases {
    color: rgba(246, 245, 247, 0.979);
}

.comment {
    color: rgba(23, 238, 238, 0.842);
}

.block-text1 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    align-self: stretch;
}


.text-time {
    display: flex;
    color: #f8f8f8;
    align-items: center;
    font-size: 23px;


}

.history {
    margin-left: 15px;
}

.text-cases {
    border-radius: 25px;
    background-color: rgb(27, 245, 245);
    display: flex;
    align-items: center;
    box-shadow: 2px 1px 8px 7px rgb(27, 245, 245);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    color: #f8f8f8;
    font-size: 32px;

}

.box-order {
    display: flex;
    margin-top: 25px;
    width: 95%;
    margin-bottom: 10px;
    background-color: #242F49;
    box-shadow: -21px 10px 19px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25px;

}

h5 {

    display: flex;
    justify-content: center;
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    font-size: 35px;
    overflow-wrap: break-word;
}

.head-cards {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    overflow-wrap: break-word;
}

.text-color1 {
    color: rgb(247, 247, 247);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;

}



.block-inf {
    display: flex;
    align-items: center;



}



.p-name {
    font-size: 25px;
    color: aliceblue;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 15px;
    background-color: #269e26;
    font-weight: 100px;
}

.text-comment {
    border-radius: 25px;
    background-color: rgb(207, 102, 255);
    font-size: 25px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 1px 8px 7px rgb(207, 102, 255);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    color: #f8f8f8;
    font-size: 32px;
}

.colorbox {
    background-color: chocolate;
}

.choice-tegs {
    display: flex;
}